.inventoryHomePage {
    padding: 50px 0px;

    .title {
        margin-bottom: 60px;

        h4 {
            color: $brand;
            font-weight: 800;
            text-align: center;
            font-family: mainfont_bold;

            img {
                height: 60px;
                margin-right: 10px;
            }
        }
    }

    .singleItem {
        .icon {
            img {
                height: 90px;
            }
        }

        .content {
            margin-top: 40px;
            border-right: 1px solid #e5e5e5;

            h5 {
                color: $brand;
                font-family: mainfont_bold;
                font-size: 19px;
            }

            p {
                margin-top: 4px;
                color: #050505;
                font-size: 14px;
            }

            img {
                margin-top: 30px;
                height: 40px;
            }
        }

        .last {
            border: none;
        }
    }

    .purchaseDetailsPageItem {

        a,
        button {
            text-align: center;
            border: 2px solid $brand;
            border-radius: 10px;
            padding: 40px 20px;
            margin-bottom: 25px;
            display: block;
            min-height: 195px;
        }


        img {
            height: 60px;
            height: 50px;
        }

        h5 {
            font-family: mainfont_bold;
            font-size: 18px;
            margin-top: 20px;
            color: $brand;
        }
    }

    .assetsConsuableBox {
        .topInfo {
            h4 {
                font-family: mainfont_bold;
                color: $brand;
                font-size: 19px;
                text-align: center;
            }
        }

        .acorWrapper {
            margin-top: 20px;

            .accordion-item {
                border: none;
                margin-bottom: 10px;
                text-align: center;

                .accordion-header {
                    .btn {
                        width: 250px;
                    }

                    a,
                    button[aria-expanded="true"] {
                        background-color: $brand;
                        color: #fff !important;
                    }
                }

                .accordion-body {
                    padding: 10px 0px;

                    ul {
                        li {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0px;
                            }

                            a {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }

    .informationCenterItem {
        text-align: center;

        .btn {
            width: 80%;
            font-family: mainfont_bold;
            padding: 13px 30px;

            .icon {
                height: 30px;
                margin-right: 10px;
            }

            &:hover,
            &:focus {
                background-color: transparent !important;
                color: $brand !important;
            }
        }

        p {
            margin-top: 10px;
            color: $brand;
            font-family: mainfont_bold;
        }
    }

    .itemMasterCard {
        border: 2px solid $brand;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 20px 30px;
        border-radius: 10px;

        img {
            height: 40px;
        }

        h5 {
            margin-top: 10px;
            font-family: mainfont_bold;
            color: $brand;
            font-size: 20px;
        }
    }
}

.sidebar .accordion-item .accordion-header .accordion-button {
    align-items: flex-start;
    column-gap: 10px;
}

// sidebarWithSubMenu
.sidebar {
    .sidebarWithSubMenu {
        .accordion-body {
            padding: 6px 0px;
        }

        .accordion-item .accordion-header .accordion-button {
            display: flex;
            align-items: center;

            .contentMenu {
                text-transform: uppercase;
                font-size: 14px;
                font-family: mainfont_bold !important;
            }

        }

        .subMenuAcordion {
            .accordion-item .accordion-header .accordion-button {
                font-family: mainfont_bold;
                font-size: 15px;
                display: flex;
                align-items: center;

                .icon {
                    font-size: 20px;
                }

                &::after {
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%231A7159' class='bi bi-plus'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
                }
            }

            .accordion-header .accordion-button:not(.collapsed):after {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%231A7159' class='bi bi-dash'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
            }

            .accordion-body {
                padding: 5px 50px;

                ul {
                    li {
                        a {
                            color: #777777;
                            padding: 6px 0px;
                            display: block;

                            .icon {
                                min-width: 25px;
                                display: inline-block;
                            }

                            &:hover {
                                color: $brand;
                            }
                        }

                        .active {
                            color: $brand;
                        }
                    }
                }
            }
        }

        .singleLineMenu {
            ul {
                li {
                    a {
                        padding: 0px 20px;
                        display: flex;
                        align-items: center;
                        column-gap: 10px;

                        .content {
                            color: $brand;
                            text-transform: uppercase;
                            font-size: 14px;
                            font-family: mainfont_bold !important;
                        }

                        .icon {
                            font-size: 20px;
                            color: $brand;
                            min-width: 20px;
                        }
                    }
                }
            }
        }
    }
}